
.counter
  display inline-block
  text-align center
  vertical-align middle

.customPrimary
  background-color green
  color white

.customSecondary
  background-color #8366561F
  color black

.stroke
  border 1px solid black

.pulse
  animation pulse 1s infinite

@keyframes pulse
  0%
    transform scale(1)
  50%
    transform scale(1.1)
  100%
    transform scale(1)
